body {
    background-image: url("https://wallpaperaccess.com/full/2796334.jpg");
  }
  
/* Navbar */
.navbar {
    padding: 5%;
    margin-bottom: 10px;
    
    margin: 5%;
    background-color: rgb(170, 114, 174);
    border: 8px;
    border-radius: 80%;
  }

  .homelink {
    justify-content: left;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-right: 5%;
    text-align: left;

  }

  .navlink {
    color: white;
    font-size: 20px;
    padding: 20%;
  }
  
  /* Homepage */
  .homepage-container {
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 50px;
  }

  p{
    text-align: center;
    font-size: 30px;
  }
  
  /* CataloguePage */
  .catalogue-container {
    margin-top: 5%;
    margin-bottom: 10%
  }
  
  .card {
    margin-bottom: 10px;
    background-color: rgb(228, 202, 216);
  }
  
  ul {
    background-color: rgb(228, 202, 216);
    border: solid 5px;
    border-color: #730d60;
    
  }

  .li {
    padding: 3px;
  }

  .removebutton {
    padding: 5px;
    font-size: 12px;
    margin-left: 5%;
  }
  /* FavoritesList */
  .favorites-list {
    margin-bottom: 20%;

  }

  .LP {
    font-size: 20px;
    text-align: left;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #db5bc4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /* App */
  .container {
    display: grid;
  }
  